*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", system-ui;
}

:root{
    --small-text: 12px;
    --medium-text: 16px;
    --big-text: 20px;
}

body{
    background: linear-gradient(#000814, #0d1b2a, #000814);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.header{
    height: 65px;
    /* height: 6.5vh; */
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #000814; /*Solucionar el fixed del */
}

.header-nav__logo{
    object-fit: contain;
    height: 50px;
    align-self: center;
    margin: 0 20px;
    margin-top: 5px;
}

.header-nav{
    display: flex;
}

.header-nav__list{
    height: 100%;
    width: 80vw;
    list-style: none;
    display: flex;
    margin-right: 10%;
}

.header-nav__title{
    font-size: var(--small-text);
    font-weight: bold;
    letter-spacing: 2px;
}

.header-nav__item{
    display: flex;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.header-nav__icon{
    height: 30%;
    margin-right: 12px;
}

.header-perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.header-perfil__image{
    height: 50px;
    object-fit: cover;
    margin: 0 10px;
}

.menu-toggle{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .header-nav__title{
        display: none;
    }

    .header__logo{
        height: 50%;
        margin: 0 15px;
    }

    .header-nav__list{
        width: 70vw;
    }

    .header-perfil__title{
        display: none;
    }
}

/*Lista responsive cuando se muy pequeña la pantalla - EN REVISIÓN*/
/* @media screen and (max-width: 650px){
    .header-nav__list{
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
    }

    .header-nav__item{
        margin: 10px 0;
    }

    .menu-toggle{
        display: block;
    }

    .menu-toggle:hover + .header-nav__list{
        display: flex;
    }
} */

.main{
    width: 100%;
    display: flex;
    padding-top: 80px;
}

.main-principal{
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.main-princiap-carousel{
    display: flex;
    width: 300%;
    animation: slide 20s infinite;
}

.main-principal__item{
    width: 100%;
    margin: 0 25px 20px;
    box-shadow: 1px 2px 15px 1px #0d1b2a;
}

.main-principal__item:hover{
    border: 1px solid white;
    cursor: pointer;
}

/*Mover el carrusel*/
@keyframes slide {
    0% { transform: translateX(0%); }       
    33% { transform: translateX(0%); }    
    34% { transform: translateX(-33.2%); } 
    66% { transform: translateX(-33.2%); } 
    67% { transform: translateX(-66.4%); } 
    99% { transform: translateX(-66.4%); } 
    100% { transform: translateX(0%); } 
}

.main-principal__image{
    width: 100%;
}
